*{
font-family:"Airbnb Cereal App", serif;
box-sizing: border-box;

}
a{
    text-decoration: none;
}
body{
    margin: 0 100px;
    background: #E8E9F3;
}

.navbar{
    text-align: center;
position: fixed;
border-radius: 0px 0px 20px 20px;
background: #5b5b6e;
margin: auto;
width: 60%;
left: 50%;
transform: translate(-50%, 0);
top: 0;
overflow: hidden;

}


.nav-items{
    display: flex;
    flex-direction: row;
padding: 20px;
justify-content: space-around;

}

.nav-items a{
    font-weight: 400;
    color: white;
    text-decoration: none;
    
}


.home-section{
    display: flex;
    flex-direction: row;
    margin-top: 250px;
    justify-content:space-between;
    
}

.hero-image{

margin-top: 110px;



}
.hero-image svg{
    width: 700px;

}

.home-info p{
    margin: 0;
    font-weight: 500;
}
.home-info p:nth-child(1){
    font-size: 32px;
  }
  .home-info p:nth-child(2){
    font-size: 43px;

  }
  .sarthak{
      color: #ff8552;
  }
  .home-info p:nth-child(3){
    font-size: 32px;
    color:#5B5B6E
  }

.about-section{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    justify-content:flex-start;

}
.about-section svg{
    width: 700px;
}

.about-image{
    margin-left: -40px;
}

.about-info{

    margin-left: 90px;
}

.about-info h2{
    font-size: 55px;
}
.about-info ul{
  list-style-type: none;
  padding: 0;
}
.about-info pre{
font-size: 20px;

color: #5b5b6e;
}



.heading{
    text-align: center;
    font-size: 55px;
    padding: 50px;
}

.projects-section .heading{
padding-top: 140px;
}

.skill-cards{
display: flex;
flex-direction: row;
justify-content: space-between;

}

.card-heading{

font-size: 30px;
font-weight: 500;
text-align: center;


}
.card-image{
    text-align: center;
}
.card-image svg{
    width: 240px;
    
}

.skill-card li svg{
width: 23px;
}

.card-info li{
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.skill-card span{
    padding-left: 30px;
}

.skill-card{
    width: 340px;
    border-radius: 16px;
background: linear-gradient(#fff 0%, #faebe2 100%);
box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.1);
}


.skill-card ul{
    list-style-type: none;
}


.pro-cards{
    display: flex;
    flex-direction: row;

justify-content: space-around;
overflow-x: scroll;
flex-wrap: nowrap;
padding-left:1200px;

padding-bottom: 50px;

}


.big-card{
width: 750px;
height:500px;
border-radius: 16px;
background: linear-gradient(#fff 0%, #fdf2e5 100%);
box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.1);
flex: 0 0 auto;
margin-left: 100px;
text-decoration: none;

}

.pro-image{
    
    padding-top: 420px;
    padding-left: 65px;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:40px;
    text-decoration: none;
    
}


#type{background-image: url(./images/type.svg);

}
#hotel{
    background-image: url(./images/hotel.svg)
}
#del{
    background-image: url(./images/del.svg);
}
#clubs{
    background-image: url(./images/clubs.svg);
    background-size: 65%;
}


.pro-name{
    font-size: 27px;
    color: black;
   
}




.contact-section h4{
text-align: center;
margin-top: -80px;
font-size: 36px;
font-weight: 500;
}



.contact-icons{
display: flex;
flex-direction: row;
justify-content: space-around;

}

.icon{
    text-align: center;
}
.contact-icons h6{
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
    font-weight: 400;

}

.contact-icons a {
    color: black;
}



.footer{
    display: flex;
    flex-direction: row;

}


.footer svg{
    width: 85%;
}

.form{margin-top: 60px;
    width: 500px;
    height: 420px;
    background: linear-gradient(#fff 0%, #fcf7ef 100%);
border: 1px solid #707070;
filter: drop-shadow(8px 16px 32px rgba(0, 0, 0, 0.16));
border-radius: 16px;



}

.input-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
margin-top: 20px;
width: 340px;
border-radius: 15px;
background: linear-gradient(#fff 0%, #fff1e0 100%);
border: 1px solid #707070;

height: 45px;
}

input:nth-child(4){
    height: 100px;
}

